.banner .list-block li::after{content: "";width: 1px;background: white;position: absolute;height: 20px;margin:0 10px;bottom: 0;}
.banner .list-block li:last-child::after{display: none;}
.banner{z-index: 9;}
.banner::before {position: absolute;left: 0;top: 0;width: 100%;height: 100%;content: "";z-index: -1;background: linear-gradient(180deg, rgba(18, 18, 18, 0.3) 60%, rgba(18, 18, 18, 0.9) 82.31%);}